# JS library local caches
bower_components
node_modules
node
etc
*.iml
.idea
# Maven
**/target/**
#Application properties
*.properties
!core.properties
sample_data/
# Mac specific files
.DS_Store
# Emacs backup files
*~
# Files/directories copied to root directory during Maven package phase
/solr-5-config/
/mysolrhome/
/*.tar.gz
# Directory for example source data CSVs, etc.
/csv/
